wojiecihuo.cn, www.wojiecihuo.cn {
    encode zstd gzip
    @www host www.wojiecihuo.cn
    redir @www https://wojiecihuo.cn{uri} permanent
    header X-Content-Type-Options nosniff
    header Referrer-Policy strict-origin-when-cross-origin

    @immutable path /_astro/* /_fonts/*
    handle @immutable {
        root * /srv/shared
        header Cache-Control "public, max-age=31536000, immutable"
        file_server
    }
    @searchchunks path_regexp searchchunks ^/pagefind/.*\.pf_(fragment|index|meta)$
    handle @searchchunks {
        root * /srv/shared
        header Cache-Control "public, max-age=31536000, immutable"
        file_server
    }
    @neitui_api path /api/neitui /api/neitui/*
    handle @neitui_api {
        reverse_proxy wojiecihuo-neitui-api:8080 {
            header_up X-Real-IP {http.request.remote.host}
        }
    }
    handle {
        root * /srv/current
        header Cache-Control "no-cache"
        file_server
    }
    handle_errors {
        root * /srv/current
        rewrite * /404.html
        file_server
    }
}
